# pnpm configuration для экономии места
store-dir=C:\DevTools\Node\pnpm-store
shared-workspace-lockfile=true
link-workspace-packages=true
strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=false
